.pioneer__item {

    .pioneer__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $fontfamily;

        .article__name {
            color: black;
            font-size: 17px;
            margin-bottom: 15px;
            //width: 220px;
            text-align: center;
            //height: 40px;
            padding: 10px;
            background-color:$main-color;
            box-shadow: 1px 1px 5px #666;
            border: solid black 2px;

            @media all and(min-width: 450px) {
                font-size: 20px;
                //height: 40px;
                padding: 10px;
                //width: 250px;

            }
            @media all and(min-width: 580px) {
                font-size: 25px;
                //eight: 50px;
                //width: 380px;
                border: solid black 3px;


            }


        }

        .article__img {
            width: 220px;
            border-radius: 22px;
            margin-bottom: 15px;
            box-shadow: 1px 1px 5px #666;

            @media all and(min-width: 450px) {
                width: 250px;

            }

            @media all and(min-width: 580px){
                width: 380px;
            }
    
        }

        .article__text {
            font-size: 10px;
            border-radius: 22px;
            padding: 10px;            
            border: black solid 2px;
            background-color: rgb(255, 255, 255);
            box-shadow: 1px 1px 5px #666;
            

            @media all and(min-width: 370px) {
                font-size: 16px;
                border: black solid 2px;


            }

            @media all and(min-width: 580px){
                font-size: 18px;
                border: black solid 3px;

            }

            .article__info {
                width: 250px;

                @media all and(min-width: 580px){
                    width: 350px;
                }
            }

            .article__link {
                color: $main-color;
                font-weight: bold;
               
            }
    

        }

        .article__text:hover {

            @media all and(min-width: 400px) {
                transform: scale(125%) translateY(-10%);
                transition: transform ease 0.5s;


            }
            
        }

      
    }


}
    