.pioneer__item {
    margin-bottom: 50px;
    //cursor: pointer;

    .pioneer__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $fontfamily;

        .article__name {
            font-size: 20px;
            margin-bottom: 40px;
            margin-top: 40px;
            width: 250px;
            text-align: center;
            height: 30px;
            padding: 10px;
            color: white;

            @media all and(min-width: 580px) {
                font-size: 28px;
                height: 40px;
                width: 350px;
            }


        }

        .article__img {
            width: 220px;
            border-radius: 22px;
            margin-bottom: 15px;
            box-shadow: 2px 2px 6px #666;

            @media all and(min-width: 580px){
                width: 260px;
            }
    
        }

        .article__text {
            font-size: 16px;
            height: 260px;
            padding: 10px;
            position: relative;
            color: white;

            @media all and(min-width: 580px){
                font-size: 18px;
            }

            .article__info {
                text-align: center;
                width: 250px;

                @media all and(min-width: 580px){
                    width: 400px;
                }
            }

            .article__link {
                position: absolute;
                bottom: 10px;
                color: $main-color2;
                font-weight: bold;
               
            }
    

        }

      
    }

  


}
    