.pioneer__item {
    margin-bottom: 50px;

    .pioneer__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $fontfamily;

        .article__name {
            font-size: 25px;
            margin-bottom: 15px;
            width: 350px;
            text-align: center;
            height: 40px;
            padding: 10px;
            background-color:$main-color;

        }

        .article__img {
            width: 360px;
            border-radius: 22px;
            margin-bottom: 15px;
            box-shadow: 1px 1px 5px #666;
        }

        .article__text {
            font-size: 18px;
            border: black solid 3px;
            height: 180px;
            border-radius: 22px;
            padding: 10px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.835);

            .article__info {
                width: 350px;
                

            }

            .article__link {
                position: absolute;
                bottom: 10px;
                color: $main-color;
                font-weight: bold;
               
            }
    

        }

      
    }

  


}
    