.counter {
    font-size: 14px;
    font-family: $fontfamily;
    color: black;
    

    @media all and(min-width: 400px) {
        font-size: 20px;
    }
    @media all and(min-width: 700px) {
        font-size: 30px;
    }

}

.counter:hover {
    border-bottom: solid $main-color2;
    font-weight: bold;
}