.game__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    height: 100vh;
    width: 100vw;
    position: relative;

    @media all and(min-width: 800px) {
        padding-top: 40px;
    }
   

    .functions-container {
        width: 100%;
        display: flex;
        justify-content: space-around;

        @media all and(min-width: 600px) {
         margin-bottom: 30px;
        }


        @media all and(min-width: 900px) {
         margin-bottom: 9px;
        }

        @media all and(min-width: 1600px) {
         margin-bottom: 30px;
        }

    }

}



