.home-button {
    font-size: 20px;
    color: $text-color;

    @media all and(min-width: 600px) {
        margin-bottom: 30px;
        font-size: 30px;
    }

}
.pioneers__section .home-button {
    margin-bottom: 30px;
} 

.home-button:hover {
    transform: scale(125%);
    transition: transform ease 0.5s;

}

.game__section .home-button {
    display: none;

    @media all and(min-width: 500px) {
        display: block;
        
    }
}