.landing__main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    .main__background {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        z-index: -10;
        display: none;

        @media all and(min-width: 1200px) {
            display: block;
    
        }
        
    }

    .main__background-min{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        z-index: -10;

        @media all and(min-width: 1200px) {
            display: none;
            background-color: transparent;
    
        }

    }

    .main__container--title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-top: black solid;
        border-left: black solid;
        border-right: black solid;
        width: 280px;
        height: 240px;

        @media all and(min-width: 400px) {
            width: 300px;
            height: 300px;

        }

        @media all and(min-width: 1000px) {
            width: 800px;
            height: 180px;

        }

        .main__title {
            font-family: $fontfamily-title;
            font-weight: 200;
            font-size: 40px;
            color: black;
            text-align: center;
            text-transform: uppercase;

            
            @media all and(min-width: 400px) {
            font-size: 43px;

            }


            @media all and(min-width: 1000px) {
                font-weight: 400;
                font-size: 50px;
    
            }

        }
    
    }

    .main__container--subtitle-nav {
        background-color: $main-color;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        border: black solid;
        
        .main__subtitle {
            font-family: $fontfamily-title;
            font-weight: 200;
            font-style: normal;
            font-size: 30px;
            width: 280px;
            text-align: center;
            padding: 15px 0 10px 0;
          
    
            
            @media all and(min-width: 400px) {
                width: 300px;
    
            }
    
    
            @media all and(min-width: 1000px) {
                font-weight: 400;
                font-size: 40px;
                width: 800px;
                padding: 15px 0 20px 0;
    
    
            }
    
        }
    
        .main__nav {
            display: flex;
            flex-direction: column;
            height: 60px;
            align-items: center;
            width: 280px;
            padding-bottom: 90px;
  
    
            
            @media all and(min-width: 400px) {
                width: 300px;
    
            }
    
    
            @media all and(min-width: 1000px) {
                height: 60px;
                width: 800px;
                flex-direction: row;
                justify-content: space-evenly;
                padding-bottom: 40px;
    
            }
    
            .main__nav--container {
                background-color:$main-color2;
                border-radius: 22px;
                width: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid black;
                margin-top: 10px;
                margin-bottom: 10px;
    
                @media all and(min-width: 1000px) {
                    width: 160px;
        
                }
    
                .button__player {
                    color: black;
                    font-family: $fontfamily;
                    font-size: 25px;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
    
                    @media all and(min-width: 1000px) {
                        font-size: 25px;
            
                    }
                    
                }
    
            }
    
            .main__nav--container:hover {
                background-color: black;
    
                
                .button__player:hover {
                    color: white;
                     
                 }
     
            }
    
            
        }
    

    }
    
 
}
