.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    &__container {
        width: 270px;
        display: flex;
        flex-direction: column;
        background-color: $main-color2;
        border-radius: 22px;
        border:  black solid;
        padding: 30px 20px;

        @media all and(min-width: 400px) {
            width: 300px;

        }

        @media all and(min-width: 1000px) {
            width: 800px;
        }

     


        .title {
            width: 280px;
            font-family: $fontfamily-title;
            font-size: 40px;
            color: black;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;

            @media all and(min-width: 400px) {
                font-size: 43px;
                width: 300px;
                margin-bottom: 30px;

    
            }
    
            @media all and(min-width: 1000px) {
                width: 800px;
                font-weight: 400;
                font-size: 50px;
                margin-bottom: 40px;

    
            }

        }
    
    
        .nav__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            //height: 60px;
            align-items: center;
            //width: 280px;
            //padding-bottom: 90px;
  
            
            @media all and(min-width: 400px) {
                width: 300px;
    
            }
    
    
            @media all and(min-width: 1000px) {
                width: 800px;
                flex-direction: row;
                justify-content: space-evenly;
                //padding-bottom: 40px;
    
            }
    
            .nav__item {
                background-color: $main-color;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border-radius: 22px;
                margin-top: 15px;
                //margin-bottom: 10px;
    
                @media all and(min-width: 1000px) {
                    width: 160px;
                    margin-top: 0px;

        
                }
    
                .link {
                    color: black;
                    font-family: $fontfamily;
                    font-size: 25px;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;

                    .icon {
                        padding-left: 15px;
                    }
    
                    @media all and(min-width: 1000px) {
                        font-size: 25px;
            
                    }
                    
                }
    
            }
    
            .nav__item:hover {
                transform: scale(110%);
     
            }
    
            
        }
    

    }

   &__background {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        z-index: -10;
        display: none;

        @media all and(min-width: 1200px) {
            display: block;
    
        }
        
    }

    &__background-min{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        z-index: -10;

        @media all and(min-width: 1200px) {
            display: none;
            background-color: transparent;
    
        }

    }

    
 
}
