.carousel__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title-pioneers {
          text-transform: uppercase;
          font-size: 35px;
          color:black;
          word-spacing: 100vw;
          font-family: $fontfamily-title;
          margin-top: 200px;
          text-align: center;

     
          @media all and(min-width: 370px){
            font-size: 35px;
            margin-top: 300px;

          }
          @media all and(min-width: 600px){
              font-size: 50px;
              margin-top: 400px;

          }
          @media all and(min-width: 800px){
              font-size: 50px;
              margin-top: 450px;
              word-spacing: initial;
          }
     
          @media all and(min-width: 1100px){
              font-size: 70px;
              margin-top: 450px;
              word-spacing: initial;

          }
     
      } 
 }


 .pioneers__list {
     padding: 0;
 }