.main__game2 {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .progress-gif {
        transform: scale(94%);
    }
}