.pioneers__section {
    width: 100vw;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-color2;
    border-bottom: solid 10px $main-color2;
    
}