.play-again {
    font-size: 20px;
    font-family: $fontfamily;
    color: $main-color;
    cursor: pointer;
    margin-bottom: 40px;
  

}

.play-again:hover {
    color: $text-color;
font-weight: bold;
}