.landing__main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    
    @media all and(min-width: 1000px) {
        background-color: transparent;

    }
    
    .main__background {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) ;
        z-index: -10;
        
    }

    .main__container--title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-top: black solid;
        border-left: black solid;
        border-right: black solid;
        width: 300px;
        height: 300px;


        @media all and(min-width: 1000px) {
            width: 800px;
            height: 154px;

        }

        .main__title {
            font-family: cooper-black-std,serif;
            font-weight: 200;
            font-size: 43px;
            color: black;
            text-align: center;
            text-transform: uppercase;

            @media all and(min-width: 1000px) {
                font-weight: 400;
                font-size: 50px;
    
            }

        }

    
    }
    .main__subtitle {
        font-family: cooper-black-std,serif;
        font-weight: 200;
        font-style: normal;
        font-size: 30px;
        width: 300px;
        background-color: fuchsia;
        text-align: center;
        padding: 15px 0 10px 0;
        border-top: black solid;
        border-left: black solid;
        border-right: black solid;


        @media all and(min-width: 1000px) {
            font-weight: 400;
            font-size: 40px;
            width: 800px;
            padding: 15px 0 20px 0;


        }

    }

    .main__nav {
        background-color: fuchsia;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
        display: flex;
        flex-direction: column;
        height: 60px;
        align-items: center;
        width: 300px;
        padding-bottom: 60px;
        border-left: black solid;
        border-right: black solid;
        border-bottom: black solid;

        @media all and(min-width: 1000px) {
            height: 60px;
            width: 800px;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 40px;

        }

        .main__nav--container {
            background-color: yellow;
            border-radius: 22px;
            width: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid black;
            margin-top: 10px;

            @media all and(min-width: 1000px) {
                width: 160px;
    
            }

            .button__player {
                color: black;
                font-family: 'Manrope', sans-serif;
                font-size: 25px;
                font-weight: bold;
                width: 100%;
                text-align: center;

                @media all and(min-width: 1000px) {
                    font-size: 25px;
        
                }
                
            }

        }

        .main__nav--container:hover {
            background-color: black;

            
            .button__player:hover {
                color: white;
                 
             }
 
        }

        
    }

 
}
