@import "./core/variables";
@import "./components/card";
@import "./components/cards";
@import "./components/landing";
@import "./components/mainGame1";
@import "./components/mainPioneers";
@import "./components/list";
@import "./components/artist";
@import "./components/homeButton";
@import "./components/counter";
@import "./components/playAgain";
@import "./components/footer";




