/*Font-family*/
$fontfamily: 'Manrope', sans-serif;
$fontfamily-title: cooper-black-std, serif;

/*Colors*/
$main-color: #ff1179;
$main-color2: #ffec2d;
$background-color: #ff117869;
$link-hover: #ff1178a8;
