/*Font-family*/
$fontfamily: 'Manrope', sans-serif;
$fontfamily-title: cooper-black-std, serif;

/*Colors*/
$main-color: #ff1179;
$main-color2: rgba(255,17,121,255);
$background-color: #ff117869;
$link-hover: #ff117869;
