/*Font-family*/
$fontfamily: 'Manrope', sans-serif;
$fontfamily-title: cooper-black-std, serif;

/*Colors*/
$main-color: fuchsia;
$main-color2: yellow;
$background-color: rgba(255, 0, 255, 0.267);
$link-hover: rgba(255, 0, 255, 0.404);
